.mainblock{ font-family: 'Source Sans Pro', sans-serif;
    background-color: #2E3440;
    color: #ECEFF4;

}


.lowblock1 { font-size: large;
             font-weight: bold;
             cursor: pointer;
             transition: 00.25s;
             border-radius: 9px;
             background-color: #4C566A;
             padding: 10px;
             color: #ECEFF4;
             width: 100px;
             font-family: 'Source Sans Pro', sans-serif;


}



.lowblock2 { font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 00.25s;
    border-radius: 9px;
    background-color: #4C566A;
    padding: 10px;
    color: #ECEFF4;
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;


}


.lowblock3 { font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 00.25s;
    border-radius: 9px;
    background-color: #4C566A;
    padding: 10px;
    color: #ECEFF4;
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;


}


.upperblock1{background-color: #4C566A;
             font-family: 'Source Sans Pro', sans-serif;
             color: #ECEFF4;
             border-radius: 9px;
}

.upperblock2{  align-items: center;
               justify-content: center;
               display: flex;
               flex-direction:row;
               position: relative;

}