.mainblock{ font-family: 'Source Sans Pro', sans-serif;
    background-color: #2E3440;
    color: #ECEFF4;

}


.lowblock1 { font-size: large;
             font-weight: bold;
             cursor: pointer;
             transition: 00.25s;
             border-radius: 9px;
             background-color: #4C566A;
             padding: 10px;
             color: #ECEFF4;
             width: 100px;
             font-family: 'Source Sans Pro', sans-serif;


}



.lowblock2 { font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 00.25s;
    border-radius: 9px;
    background-color: #4C566A;
    padding: 10px;
    color: #ECEFF4;
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;


}


.lowblock3 { font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: 00.25s;
    border-radius: 9px;
    background-color: #4C566A;
    padding: 10px;
    color: #ECEFF4;
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;


}


.upperblock1{background-color: #4C566A;
             font-family: 'Source Sans Pro', sans-serif;
             color: #ECEFF4;
             border-radius: 9px;
}

.upperblock2{  align-items: center;
               justify-content: center;
               display: flex;
               flex-direction:row;
               position: relative;

}


.myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;  
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #4C566A; 
    color: #ECEFF4; 
    cursor: pointer;
    padding: 10px; 
    border-radius: 9px; 
    font-size: 18px; 
  }
  
.myBtn:hover {
    background-color: #4C566A;
    cursor: pointer;
  }